body{
    background-color: darkorange;
}
.thead{
    background-color: aqua;
}
.shakil{
    background-color: blue;
}
.mejbah{
    background-color: yellow;
}
.sohanur{
    background-color: dimgray;
}