<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RN</title>
</head>
<body>
    <form>
        <input type="text" name="" id="" placeholder="Enter your name"> <br> <br>
        <input type="text" name="" id="" value="saif.ndub@gmail.com"> <br> <br>
        <input type="password" name="" id="" placeholder="Enter your password"> <br> <br>

        <input type="radio" name="gender" id="" placeholder="Enter your password"> Male
        <input type="radio" name="gender" id="" placeholder="Enter your password"> Female
        <input type="radio" name="gender" id="" placeholder="Enter your password"> Others<br> <br>

        <input type="checkbox" name="" id="" >ML <br> <br>
        <input type="checkbox" name="" id="" >DL <br> <br>
        <input type="checkbox" name="" id="" >DA <br> <br>
        <input type="checkbox" name="" id="" >DJ <br> <br>

        <input type="file" name="" id="" > <br> <br>
        <input type="datetime-local" name="" id=""> <br> <br>
        <input type="submit" value="OK">
        <input type="reset" value="Reset">
        
    </form>
</body>
</html>