<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>This is data analysis plarform. This is data analysis plarform.</p>
    <p>This is data analysis plarform.</p>
    <p>This is data analysis plarform.</p>

    <b>data analysis</b> <br>
    <small>data analysis</small> <br>
    <i>data analysis</i> <br>
    <mark>data analysis</mark> <br>
    <del>300</del> <br>
    <ins>250</ins> <br>

    <div>
        <p>(a+b)<sup>2</sup></p>
        <p>(a+b)<sub>2</sub></p>
        <p> <abbr title="Data Analysis"> DT </abbr></p>
    </div>

</body>
</html>

<!-- 
    <b>data analysis</b> <br>
    <small>data analysis</small> <br>
    <i>data analysis</i> <br>
    <mark>data analysis</mark> <br>
    <del>300</del> <br>
    <ins>250</ins> <br>
-->